* {
  margin: 0px;
  padding: 0px;
}
.apptitle {
  font-family: "Comic Sans MS", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  border-style: inset;
  padding: 10px;
  margin: 20px 60px;
  background-color: rgb(62, 18, 133);
  color: white;
}

.my-form {
  padding: 20px;
  text-align: center;
  border-style: outset;
  margin: 40px;
  padding: 20px;
  border-width: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(22, 15, 51);
  color: white;
}

.my-form p {
  padding-bottom: 20px;
}

.form-group {
  padding-bottom: 20px;
}

input {
  margin-left: 5px;
}

button {
  margin-bottom: 25px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  background-color: rgb(129, 97, 180);
  color: white;
  border: none;
  border-radius: 5%;
}

button:hover {
  background-color: rgb(62, 18, 133);
}

.addtask {
  border-style: groove;
  margin: 20px;
  width: 15%;
  padding: 10px;
  line-height: 2em;
  text-align: center;
}

.task {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(22, 15, 51);
  color: white;
  border-style: groove;
  margin: 30px;
  width: 33%;
  float: right;
  padding: 15px;
}
.task button {
  margin: 15px;
  text-align: center;
}
.task p {
  margin-right: 25px;
  line-height: 35px;
}
.app h3 {
  margin-left: 25px;
}
ul,
li {
  list-style: none;
}
